<article class="pin">
    <figure>
        <div class="pin-image-holder">
            <img class="pin-image" src="media/<%= item.image_url %>">
        </div>
    </figure>
    <form class="pin-bottom create-destroy" method="POST" action="/pin">
        <div class="media">
        <%if (item.pinned) {%>
            <div class="pull-left">
                <input class="btn btn-danger btn-sm" type="submit" value="Unpin" data-toggle="Pin">
            </div>
            <input name="remove" type="hidden" value="1">
            <input type="hidden" name="_method" value="DELETE">
        <% } else{ %>
            <div class="pull-left">
                <input class="btn btn-primary btn-sm" type="submit" value="Pin" data-toggle="Unpin">
            </div>
        <% } %>
        </div>
        <input name="influencer" type="hidden" value="<%= item.image_url %>">
        <input name="item" type="hidden" value="<%= item._id %>">
        <!-- <input type="hidden" name="next" value="{{ request.get_full_path }}"> -->
    </form>
    <footer class="pin-attribution">
        <% if(item.user.username){ %>
        by <a href="/profile/<%= item.user.username %>"><%= item.user.username %></a>
        <% } %>
    </footer>
</article>